/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Poppains", sans-serif;
}

section {
  padding: 2rem 0;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem 0 3rem 0;
}
.sub-title {
  font-size: 2rem;
  font-weight: 600;
}
.nav-item {
  font-weight: 700;
  margin-left: 1rem;
  padding: 0.5rem 1.2rem;
}
.btn {
  border-radius: 2rem;
}

/*------------- Hero Section -----------------*/
#hero {
  background-color: #f0fff0;
}
.hero {
  height: 60vh;
}

.hero-right img {
  width: 100%;
}
.hero-content {
  padding: 0 2rem 1rem 0;
}
.hero-subheading {
  color: #fd511a;
}

.hero-heading {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 900;
}

.hero-heading-colored {
  color: #21b573;
}

.hero-subtext {
  color: #6c6b6b;
}

/* features*/
#features .card {
  height: 260px;
  margin: 3rem 0.5rem;
  border: none;
}

#features .card:hover {
  cursor: pointer;
}

#features .card-2 {
  box-shadow: 0px 6px 11px rgba(0, 0, 0, 0.37);
}
#features img {
  width: 70px;
}

/* Courses */
#courses .card {
  border-radius: 10px;
  box-shadow: -8px -8px 20px #14141431, 8px 8px 20px rgba(0, 0, 0, 0.329);
  border: 0;
}

#courses .card img:hover {
  transform: scale(0.99);
}
#courses .card .card-footer {
  border: 0;
}

/*  testimonial */
.testimonial {
  padding: 1rem 1rem 2rem 0px;
  margin-bottom: 3rem;
}
.testimonial img {
  padding-left: 3rem;
  width: 40%;
}

.box {
  width: 100%;
  margin: 0 auto;
}

.testimonial-text {
  padding: 1rem 3rem;
}

/*   Download */
#download {
  height: 60vh;
  padding: 2rem 2rem;
  background-color: #f4f4f4;
}

.download {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.title-download {
  font-size: 2.5rem;
  font-weight: 900;
}
.line {
  width: 50%;
  margin-right: auto;
  height: 3px;
  background-color: #145feb;
}

.btn-signup {
  margin: 2rem 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
}
.subtitle-download {
  font-size: 1.2rem;
  font-weight: 600;
}
/* Footer */

#footer {
  background-color: #282531;
  padding-bottom: -2rem;
}

.footer {
  color: white;
  padding: 3rem 3rem 0 3rem;
}

.footer li {
  list-style: none;
}
